nbproject
var/cache/*
var/assets/
var/recyclebin/
web/var/tmp/
var/email
var/tmp/
var/versions/
web/var/assets/
var/logs/
var/sessions/
vendor/
var/composer/
var/config/system.php
doc/
3rd-party-licenses.md
composer.lock
gpl-3.0.txt
tests/
